body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(Mario-Yoshi-Luigi.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

hr {
    border-width: 3px;
    max-width: 65px;
    border-color: red;
}

h1 {
    font-style: inherit;
    font-size: 3rem;
    color: red;
}

.btn {
    font-weight: 700;
    border-radius: 300px;
    text-transform: uppercase;
}


.btn-xl {
    padding: 1rem 2rem;
}

.btn-primary:hover {
    border-width: 4px;
}

.buffer {
    height: 25rem;
}